<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'tk_redmine.css', :plugin => 'redmine_tk_redm' %>
    <%= javascript_include_tag 'jquery.json-2.4.min.js', :plugin => 'redmine_tk_redm' %>
    <%= javascript_include_tag 'tk_redmine.js', :plugin => 'redmine_tk_redm' %>
<% end %>

<div id="web_contents" style="display: none">
  <%= @web_contents %>
</div>
<div id="show">

</div>
<script type="text/javascript">
    var _workInfo = new UserIssueInfo();
    _workInfo.show();
</script>